/* Diseño de la estructura reporte min 23.39 parte 14 */
/* Para los campos del formulario */
.campos-formulario {
  display: flex;
  /* Alinear todos los items desde el inicio */
  align-items: flex-start;
}

/* Formato para el btn buscar */
.boton-buscar {
  width: 150px;
  margin-top: 10px;
}

/* Para los campos */
mat-form-field {
  margin-right: 50px;
}

table {
  width: 100%;
}

.input-filter {
  width: 100%;
  font-size: 14px;
}
