/* Diseño de la estructura reporte min 23.39 parte 14 */
/* Para los campos del formulario */
.campos-formulario {
  display: flex;
  /* Alinear todos los items desde el inicio */
  align-items: flex-start;
}

/* Formato para el btn buscar */
.boton-buscar {
  width: 150px;
  margin-top: 10px;
}

/* Para los campos */
mat-form-field {
  margin-right: 50px;
}

/* Para la tabla */
table {
  width: 100%;
}

/* Diseño para el campo de filtro */
.input-filter {
  width: 100%;
  font-size: 14px;
}

/* Formato para el elemento de ayuda o descripcion "?" */
.msj-de-ayuda {
  border-radius: 100%;
  padding: 3px 6px 3px 6px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
}

/* Formato para tooltip */
.d {
  text-align: justify;
  text-wrap: wrap;
}
