/* <!-- Creando páginas y componentes a partir del min 16.50 parte 8 --> */
/* Agregando estilos de la vista de usuarios min 01.14.17 parte 10 */
/* Ancho de tabla */
table {
  width: 100%;
}

/* Btn buscar */
/* Ancho de campos min 01.14.40 parte 10*/
.busq {
  font-size: 14px;
  width: 100%;
}
